<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.CurrencyNetworkMapper">

    <resultMap type="com.ruoyi.project.system.domain.CurrencyNetwork" id="CurrencyNetworkResult">
        <result property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="networkName" column="network_name"/>
        <result property="address" column="address"/>
        <result property="qrcode" column="qrcode"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="seqNum" column="seq_num"/>
        <result property="type" column="type"/>
        <result property="serviceCharge" column="service_charge"/>
        <result property="minWithdrawal" column="min_withdrawal"/>
        <result property="aliasName" column="alias_name"/>
    </resultMap>

    <select id="selectNetworkVo" resultType="com.ruoyi.project.system.domain.vo.NetworkVo">
        SELECT id             AS id,
               parent_id      AS currencyId,
               network_name   AS networkName,
               service_charge as serviceCharge,
               type           as type,
               min_withdrawal as minWithdrawal,
               alias_name     as aliasName
        FROM currency_network
        order by seq_num asc
    </select>
</mapper>
