<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.PlatformUserMapper">

    <resultMap type="PlatformUser" id="PlatformUserResult">
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="accessToken" column="access_token"/>

    </resultMap>

    <select id="selectPlatformUserVoList" resultType="com.ruoyi.project.system.controller.vo.PlatformUserVo">
        select user_id,
               user_name
        from platform_user
    </select>

    <delete id="deletePlatformUserById" parameterType="Long">
        delete
        from platform_user
        where user_id = #{userId}
    </delete>

    <delete id="deletePlatformUserByIds" parameterType="String">
        delete from platform_user where user_id in
        <foreach item="userId" collection="array" open="(" separator=","
                 close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>