<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.PlatformDomainMapper">

    <resultMap type="PlatformDomain" id="PlatformDomainResult">
        <result property="id" column="id"/>
        <result property="domainName" column="domain_name"/>
        <result property="type" column="type"/>
        <result property="clientId" column="client_id"/>
        <result property="clientSecret" column="client_secret"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectPlatformDomainVo">
        select id,
               domain_name,
               type,
               client_id,
               client_secret,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from platform_domain
    </sql>

    <select id="selectPlatformDomainList" parameterType="PlatformDomain" resultMap="PlatformDomainResult">
        <include refid="selectPlatformDomainVo"/>
        <where>
            <if test="domainName != null  and domainName != ''">and domain_name like concat('%', #{domainName}, '%')
            </if>
            <if test="type != null  and type != ''">and type = #{type}</if>
            <if test="clientId != null  and clientId != ''">and client_id = #{clientId}</if>
            <if test="clientSecret != null  and clientSecret != ''">and client_secret = #{clientSecret}</if>
        </where>
    </select>

    <select id="selectPlatformDomainById" parameterType="Long" resultMap="PlatformDomainResult">
        <include refid="selectPlatformDomainVo"/>
        where id = #{id}
    </select>

    <select id="selectPlatformDomainBySource" parameterType="String" resultMap="PlatformDomainResult">
        <include refid="selectPlatformDomainVo"/>
        where source = #{source}
    </select>

    <insert id="insertPlatformDomain" parameterType="PlatformDomain" useGeneratedKeys="true" keyProperty="id">
        insert into platform_domain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="domainName != null  and domainName != ''">domain_name,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="clientId != null  and clientId != ''">client_id,</if>
            <if test="clientSecret != null  and clientSecret != ''">client_secret,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="domainName != null  and domainName != ''">#{domainName},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="clientId != null  and clientId != ''">#{clientId},</if>
            <if test="clientSecret != null  and clientSecret != ''">#{clientSecret},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePlatformDomain" parameterType="PlatformDomain">
        update platform_domain
        <trim prefix="SET" suffixOverrides=",">
            <if test="domainName != null  and domainName != ''">domain_name = #{domainName},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="clientId != null  and clientId != ''">client_id = #{clientId},</if>
            <if test="clientSecret != null  and clientSecret != ''">client_secret = #{clientSecret},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePlatformDomainById" parameterType="Long">
        delete
        from platform_domain
        where id = #{id}
    </delete>

    <delete id="deletePlatformDomainByIds" parameterType="String">
        delete from platform_domain where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>